*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#6b7fd7,#480355);
    padding: 10px;
}
.to-do{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.to-do h2{
    color: #16166B;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do h2 img{
    width: 30px;
    margin-left: 10px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    padding: 10px;
    border: 0;
    outline: none;
    background: transparent;
}
button{
    padding: 12px 50px;
    border-radius: 30px;
    background-color: #FF8000;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}
ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

ul li::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px; 
    padding-left: 13px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    align-items: center;
    color: #555;
}
ul li span:hover{
    background-color: #E5E4E2;
}